src/main/mule/implementation-process-games-rawg.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="9e783217-7a5c-491e-8769-b87181d571bb" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration_MongoDB" doc:name="HTTP Request configuration" doc:id="76b4a853-fd11-4d8e-ac71-7738b3a5b7de" >
		<http:request-connection host="localhost" port="8082" />
	</http:request-config>
	<flow name="get-data-from-rawg-system-api-Flow" doc:id="6edfbdfe-12e7-4e5c-beee-d49f29f735ea" >
		<http:request method="GET" doc:name="Request rawg system api" doc:id="9c46b43d-2afa-4065-bd91-5ac7db12c077" config-ref="HTTP_Request_configuration" path="/api/games">
			<http:query-params ><![CDATA[#[output application/json
---
{
	"key" : attributes.queryParams.key
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="2c61f7e5-7621-4055-b9b3-e9faebbbb24a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.results map ( result , indexOfResult ) -> {
	genres: result.genres.name,
	stores: result.stores.store.name,
	name: result.name,
	rating: result.rating,
	released: result.released,
	platforms: result.platforms.platform.name
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="insert to mongodb system api" doc:id="ccf9465c-cec8-4e27-9d8d-cb9ada8c0e95" config-ref="HTTP_Request_configuration_MongoDB" path="/api/post-games"/>
		<ee:transform doc:name="Transform Message" doc:id="480f2c6f-18e3-4af6-9d3f-a5cd5bdf1ec1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="search-games-by-filters-from-mongo-db" doc:id="397e94fa-76b6-4388-97b0-4ea042927ae6" >
		<ee:transform doc:name="Transform Message" doc:id="4121f17e-c0ae-4087-9a00-abd2fd4d043a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"released": attributes.queryParams.dates default "",
	"platforms": attributes.queryParams.platforms default "",
	"genres": attributes.queryParams.genres default "",
	"stores": attributes.queryParams.stores default ""	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="GET" doc:name="Mongo DB System Api" doc:id="6117e661-641f-4c69-8f58-5bb4d4d9aa98" config-ref="HTTP_Request_configuration_MongoDB" path="/api/search-games"/>
	</flow>
</mule>
